<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">shins94 tech Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
        
        <li class="nav-item">
             <a class="nav-link" href="{{"/category" | relative_url }}">category</a>
           <ul>
						  <li><a class="nav-link" href="/DE/Github Blog">Github Blog</a></li>
						  <li><a class="nav-link" href="/DE/Git">Git</a></li>
						  <li><a class="nav-link" href="/DE/Docker">Docker</a></li>
						  <li><a class="nav-link" href="/DE/Ubuntu">Ubuntu</a></li>
						  <li><a class="nav-link" href="/DE/Java">Java</a></li>
					</ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<!--  <div>
    <div class="nav-item">Category</div>
    <nav class="content-ul">
      {% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
         class="sidebar-nav-item pl-3rem">
                            <span class="name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endfor %}
    </nav>
 </div>
 -->
