---
layout: page
title: Categories
permalink: /categories/
background: '/img/bg-about.jpg'
---
{% assign esc_title="{{ p.title }}" %}
{% assign esc_date="{{ p.date }}" %}
{% assign esc_ctgname="{{ hash }}" %}




<div id="post-list">
<!--   <h1>{{page.title}}</h1>
  <hr> -->
  <h2 id="{{ category | first }}">{{ esc_ctgname }}</h2>
  <ul>
  {% for category in site.categories %}
  <li>
    <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">                           
<!--         <span> <h2 id="{{ category | first }}">{{ category | first }}</h2> </span> -->
      <span class="post-title">{{ category | first }}</h2></span>
      <span class="badge">{{ category | last | size }}</span>
      </a>
    </li>
      {% endfor %}
<!--     <li v-for="p in posts" v-if="p.categories.indexOf(hash) != -1">
      <time>
        {{ esc_date }}
      </time>
      <a v-bind:href="p.url">{{ esc_title }}</a>
    </li> -->
  </ul>
</div>

<script>
  var hash = decodeURI(window.location.hash.substr(1));
  var postList = new Vue({
    el: '#post-list',
    data: {
      posts: []
    }
  });
  axios.get('/posts.json')
  .then(function (response) {
    postList.posts = response.data.posts;
  })
  .catch(function (error) {
    console.log(error);
  });
</script>
